In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, Math, Latex
from heapq import nsmallest

In [2]:
df = pd.read_csv("Tickers (1).csv")

In [3]:
first_ticker = df.columns[0]

In [4]:
df.rename(columns = {first_ticker:"ticker"},inplace=True)

In [5]:
type (first_ticker)

str

In [6]:
ab = yf.Ticker(first_ticker)
if ab.info["regularMarketPrice"] != None:
    df = df.append({"ticker":first_ticker},ignore_index=True)

In [7]:
df

   ticker
0    ABBV
1     ABT
2     ACN
3     AGN
4     AIG
..    ...
57    UNH
58    UNP
59    UPS
60    USB
61   AAPL

[62 rows x 1 columns]

In [8]:
if yf.Ticker("AAPL").history(start="2017-01-01").Close.index.size == 0:
    print("a")
else:
    print("b")

b

In [9]:
# (np.mean(yf.Ticker("AGN").history(start=start,end=end).Volume)
start_date = "2017-01-01"
dict2 = {}
for i in df.ticker:
    y = yf.Ticker(i)
    inf = y.info
    a = y.history(start=start_date)
    if a.Close.index.size > 0:
        dict2[i] = {"info":inf,"price":a}

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted

In [10]:
#Calculate std of each stock from dictionary
def std_stock(stock):
    close=stock['price']['Close']
    std=close.pct_change().std()
    return std

In [11]:
dict3={}
for i,j in dict2.items():
    dict3[i]= std_stock(j)
    
dict3

{'ABBV': 0.017717925415255756,
 'ABT': 0.015713013649060182,
 'ACN': 0.01563240883180479,
 'AIG': 0.02413666050801701,
 'AMZN': 0.018585958426060208,
 'AXP': 0.021663953303399854,
 'BA': 0.029683202600937632,
 'BAC': 0.021360285606387346,
 'BIIB': 0.0298395690311574,
 'BK': 0.018523016794199428,
 'BLK': 0.018167969221015726,
 'BMY': 0.015601409789481997,
 'C': 0.023212918521187235,
 'CAT': 0.019752054562131378,
 'CL': 0.013089138385164201,
 'CMCSA': 0.01682408622835479,
 'COF': 0.02497859117147931,
 'COP': 0.02644218447590906,
 'COST': 0.013423949426899348,
 'CSCO': 0.017208425825767284,
 'CVS': 0.01784763589468645,
 'GM': 0.02394197319554047,
 'GOOG': 0.017065628845393064,
 'JPM': 0.019043168940765017,
 'KMI': 0.019880625766169745,
 'KO': 0.012659740985522807,
 'LLY': 0.01760394466909082,
 'LMT': 0.01571244517888993,
 'MO': 0.01607254705309426,
 'MON': 0.0046734991055527655,
 'MRK': 0.014170101475025992,
 'MS': 0.021365883170827618,
 'MSFT': 0.017339614357619503,
 'NEE': 0.015067435763025099,
 'NKE': 0.01844080473148081,
 'ORCL': 0.01687188980954974,
 'OXY': 0.03703350794209614,
 'PEP': 0.013214915018648857,
 'PFE': 0.014605477885668912,
 'PG': 0.01271765898460278,
 'PM': 0.016524909234232367,
 'PYPL': 0.02253026315909341,
 'QCOM': 0.023931269178868435,
 'SHOP.TO': 0.03244003286438444,
 'SBUX': 0.017395349419794263,
 'SLB': 0.02803086830169762,
 'SO': 0.01568604531436342,
 'SPG': 0.029112718252870963,
 'T': 0.014783508961647982,
 'TD.TO': 0.013529981791445078,
 'TGT': 0.01951809142953799,
 'TWX': 0.008082434398613966,
 'TXN': 0.0189490195333489,
 'UNH': 0.018026543204003095,
 'UNP': 0.017344728576988128,
 'UPS': 0.017387203159548507,
 'USB': 0.019856263973051413,
 'AAPL': 0.019183377197081727}

In [55]:
# # Num of stocks 
# select_stock=20
# least_volatility=[]
# def pick_least(dict10):
#     global select_stock
#     temp=min(dict10.items(), key=lambda x: x[1])
# #     temp=min(dict10,key=dict10.get)
#     if select_stock >= 0:
#              least_volatility.append(temp)
#              select_stock-=1
#              pick_least(dict10.pop(temp[0]))
#     else:
#              return least_volatility

In [13]:
# Initialize K
K = 20

# Smallest K values in Dictionary
# Using nsmallest
res = nsmallest(K, dict3, key = dict3.get)

res

['MON',
 'TWX',
 'KO',
 'PG',
 'CL',
 'PEP',
 'COST',
 'TD.TO',
 'MRK',
 'PFE',
 'T',
 'NEE',
 'BMY',
 'ACN',
 'SO',
 'LMT',
 'ABT',
 'MO',
 'PM',
 'CMCSA']

In [11]:
# start="2021-07-02"
# end="2021-10-22"
# start_date = "2021-11-01"
# valid_tickers = []
# list1=[]
# for i in df.ticker:
#     try:
#         a = yf.Ticker(i)
#         c = a.info
#         b = np.mean(a.history(start=start,end=end).Volume)
# #         b = a.history(start=start_date).Close.pct_change().std()
# #         pd.isna(b) == False
#         if  c["currency"] == "USD" and  b > 10000:
# #             list1.append(b)
#             valid_tickers.append(i)
#     except:
#         pass

In [12]:
np.mean(yf.Ticker("AGN").history(start=start,end=end).Volume)

NameError: name 'start' is not defined

In [ ]:
valid_tickers

In [ ]:
list1

In [ ]:
valid_df = pd.DataFrame({"tickers":valid_tickers})

In [ ]:
valid_df